@import url("https://fonts.googleapis.com/css?family=Cinzel|Forum");

.App {
  text-align: center;
  font-family: "Forum";
  font-size: 20px;
}

.pagination {
  margin-top: 2vw;
  justify-content: center;
}

.card {
  margin-top: 2vw;
}
